
body
	{
		background: url('../im/action.jp') no-repeat;
		background-size: 100%;
		margin-top: 30px;
	
	}

header
	{
		margin-right: 125px;
		margin-left: 125px;
		border: 2px groove black;
		background-color: #999;
	}

#yop img
	{
		width: 250px;
		float: left;
	}

#prochainement
	{
		border: 2px groove black;
		border-width: 7px;
		border-radius: 6px;
		margin-top: 50px;
		margin-left: 125px;
		margin-right: 125px;
	}

.genre
	{
		display: block;
		width: 80%;
		border: 2px groove black;
		border-width: 3px;
		border-radius: 6px;
		margin: 20px;
		margin-left: 50px;
	}

.identification
	{
		display: inline-block;
	}