body
	{
		text-align: center;
		margin-top: 30px;
		background-color: #191970;
        color : white;
	}

header
	{
		border: 2px groove black;
		background-color: #999;
		text-align: center
	}

header h1
    {
    	font-size: 60px;
    	color : blueviolet;
    	font-family: fantasy ;
    }

footer
	{
		border: 2px groove black;
		background-color: #999;
		text-align: center;
	}

footer table
	{
		margin-left: 47%;
		width: 60px;
	}

p
	{
		margin-top: 0%;
	}


#prochainement
	{
		background-color: #483D8B;
		background-position: center;
		
		border-width: 7px;
		border-radius: 6px;
		margin-top: 50px;
		margin-left: 125px;
		margin-right: 125px;
	}

#prochainement div
	{
		display: inline-block;
		margin: 3px;
		text-align: center;
	}


#prochainement img
	{
		width: 150px;
		float: top;
	}

#prochainement a h2
    {
        color : black;
    }

.genre
	{
		display: inline-block;
		width: 40%;
		border: 2px groove black;
		border-width: 3px;
		border-radius: 6px;
		margin: 10px;
		margin-top: 30px;
		background-color: #483D8B;
	}

.genre div
	{
		display: inline-block;
		width: 150px;
		margin-top: 10px;
		text-align: center;
	}

.genre a h2
    {
        color : black;
    }

.genre img
	{
		width: 150px;
	}

#plus
	{
		float: right;
		margin-right: 5px;
		margin-bottom: 2px;
	}

.identification
	{
		width: 300px;
		display: inline-block;
	}

.inco
	{
		font-size: 1.5714em;
		font-weight: normal;
		line-height: 1.75em;
		margin: .875em 0 0 0;
		color: #800080;
	}

#banana
	{
		text-align: left;
	}

#banana img
	{
		width: 250px;
		float: left;
		vertical-align: middle;
	}

.txt
	{
		margin-left: 300px;
	}