body
	{
		text-align: center;
		margin-top: 30px;
		background-color: #7B68EE;
	}

header
	{
		margin-right: 125px;
		margin-left: 125px;
		border: 2px groove black;
		background-color: #999;
		text-align: center;
	}

footer
	{
		border: 2px groove black;
		background-color: #999;
	}

footer table
	{
		margin-left: 45%;
	}

p
	{
		margin-top: 0%;
	}


#prochainement
	{
		background-color: #C0C0C0;
		background-position: center;
		border: 2px groove black;
		border-width: 7px;
		border-radius: 6px;
		margin-top: 50px;
		margin-left: 125px;
		margin-right: 125px;
	}

#prochainement div
	{
		display: inline-block;
		margin: 3px;
	}

#prochainement img
	{
		width: 150px;
		float: top;
	}

.genre
	{
		display: inline-block;
		width: 40%;
		border: 2px groove black;
		border-width: 3px;
		border-radius: 6px;
		margin: 10px;
		margin-top: 30px;
		background-color: #999;
	}

.genre img
	{
		width: 120px;
	}

#plus
	{
		float: right;
		margin-right: 5px;
		margin-bottom: 2px;
	}

.identification
	{
		width: 300px;
		display: inline-block;
		text-align: right;

	}

	#inco {
		font-size: 1.5714em;
		font-weight: normal;
		line-height: 1.75em;
		margin: .875em 0 0 0;
		color: #800080;

	}

	.recherche_p {

	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	padding: 10px 10px 10px 10px;
	}


	/* Champ de saisie */
	#searchthis #search {
	  background-color: #ffffff;
	  border-style: solid;
	  border-width: 1px;
	  border-color: #dddddd;
	  padding: 5px 10px 5px 10px;
	  width: 98.5%;
	  box-sizing: border-box;
	  font-family: Lato;
	  font-size: 12px;
	  font-weight: normal;
	  letter-spacing: 1px;
	}

	/* Bouton valider */
	#searchthis #search-btn {
	  background-color: #800080;
	  border-style: solid;
	  border-width: 1px;
	  border-color: #E8B960;
	  padding: 5px 10px 5px 10px;
	  width: 98.5%;
	  box-sizing: border-box;
	  font-family: PT sans;
	  font-size: 13px;
	  font-weight: normal;
	  letter-spacing: 2px;
	  margin: 10px 0 0 0;
	  text-transform: uppercase;
	  color: #ffffff;
	}
